/* globals.css */
/* app/globals.css */
@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans); /* Use Geist font for sans */
  --font-mono: var(--font-geist-mono); /* Use Mono font for monospace */
}

@layer utilities {
  /* You can now safely use the font variables */
  body {
    background: var(--background);
    color: var(--foreground);
    font-family:
      var(--font-geist-sans), Arial, Helvetica, sans-serif; /* Use custom font */
  }

  :root {
    --background: #ffffff; /* Default background color */
    --foreground: #333333; /* Default text color */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
